* {
    box-sizing: border-box;
}

body
{
	margin: 0;
	padding: 0;
	background: url(img/bg.jpg) no-repeat center/cover;
	background-attachment: fixed;
}

.h1Style
{
	font-style: italic;
	font-size: 17px;
	margin-top: 10%;
	margin-right: 27%;
	float:right;
	display: flex;
}

.consize
{
	height: 520px;
}

.size
{
	position: relative;
	width: 68%;
	margin-top: 8%;
	float:right;
	display: flex;
}

.try
{
	border: solid red 2px;
}

.styleze
{
	border-radius: 2px;
	margin-left: 30px;
	margin-top:10px;
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: none;
	background-color: transparent;
	transition: all .2s ease-in-out;
	color: #51708A;
}

.styleze:hover
{
	transform: scale(1.3);
	color: #172C3F;
	background-color: transparent;
}

#photo
{
	margin-top: 10px;
	width: 30%;
	margin-bottom: 10px;
}

.text
{
	float:right; 
	font-family: Arial, sans-serif;
	margin-right: 17%;
	margin-top: 15%;
	text-align: center;
}