
body
{
	margin: 0;
	padding: 0;
}

.menutext
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 120%;
}

.content
{
	margin-bottom: 20%;
}

.btnsize
{
	text-transform: uppercase;
	color:white;
}

#texthover
{
	text-decoration: none;
	background-color: transparent;
	transition: all .2s ease-in-out;
	color: #172C3F;
}

#texthover:hover
{
	transform: scale(1.3);
	color: #51708A;
	background-color: transparent;
}

#st
{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	/*border: solid red 2px;*/
	font-family: "Times New Roman", Times,serif;
}

ul
{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

ul li
{
	margin-top: 3%;
}

.line
{
	height: 1px;
	width: 90%;
	background-color: black;
	border-radius: 2px;
	margin: 0 auto;
	opacity: 0.1;
}